.two-columns__paragraph {
    display: block;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__paragraph:nth-child(even) {
    margin-top: 30px;
    margin-bottom: 30px;
}