@import url(./__brief/two-columns__brief.css);
@import url(./__paragraph/two-columns__paragraph.css);
@import url(./__span-accent/two-columns__span-accent.css);
@import url(./__main-text/two-column__main-text.css);

.two-columns {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}