@keyframes rotate_triangle-pic {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.kaufman__triangle {
    background-image: url(../../../images/triangle.svg);
    background-size: cover;
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: -1;
    animation: rotate_triangle-pic 20s infinite linear;
}