.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
    width: 183px;
    height: 32px;
}


/* Шапка */
/* Шапка */
/* Шапка */

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    display: flex;
    margin-bottom: 100px;
    background-color: #F2F2F2;
    position: relative;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 2;
}

.header__title {
    align-self: center;
    margin-left: 64px;
    width: 730px;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.header__subtitle {
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    z-index: 2;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.header__link {
    color: #2F80ED;
    text-decoration: none;
}

.header__main-illustration {
    background-image: url(../images/two_again.png);
    background-size: cover;
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.header__square-pic {
    background-color: #2F80ED;
    width: 568px;
    height: 568px;
    position: absolute;
    top: 64px;
    right: 0;
}

/* Секция 1 description*/
/* Секция 1 description*/
/* Секция 1 description*/

.description {
    margin-bottom: 100px;
}

.two-columns {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.two-column__brief {
    display: block;
    width: 175px;
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
}

.two-column__paragraph {
    display: block;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-column__paragraph:nth-child(even) {
    margin-top: 30px;
    margin-bottom: 30px;
}

.two-solumn__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.two-column__main-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Секция 2 digits*/
/* Секция 2 digits*/
/* Секция 2 digits*/

.digits {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.table {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.table__cell {
    width: 250px;
    margin-top: 60px; 
}

.table__text {
    margin-bottom: 0px;
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table__heading {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-title {
    width: 60%;
    align-self: center;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.section-subtitle {
    width: 60%;
    align-self: center;
    text-align: center;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

/* Секция 3 feinman*/
/* Секция 3 feinman*/
/* Секция 3 feinman*/

.feinman {
    height: 790px;
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F2F2F2;
    z-index: -2;
}

.feinman__title {
    margin: 0;
    width: 648px;
    align-self: center;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 70px;
}

.feinman__subtitle {
    margin: 0;
    align-self: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: black;
    text-decoration: none;
}

.feinman__img {
    background-image: url(../images/feinman.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 867px;
    height: 637px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* Секция 4 kaufman*/
/* Секция 4 kaufman*/
/* Секция 4 kaufman*/

.kaufman {
    position: relative;
    z-index: -2;
    display: flex;
    flex-direction: column;
    background-color: #1F1F1F;
    overflow: hidden;
    padding-bottom: 90px;
}

.section-title_theme_dark {
    align-self: center;
    padding-top: 90px;
    color: white;
}

.section-subtitle_theme_dark {
    align-self: center;
    color: white;
}

.table__theme_dark {
    align-self: center;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.padding_bottom {
    padding-bottom: 90px;
}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: -1;
}

/* Подвал */
/* Подвал */
/* Подвал */

.footer {
    background-color: #1F1F1F;
}

.footer__columns {
    display: flex;
    width: 90%;
    min-height: 350px;
    margin: auto;
    padding: 60px 0 40px 0;
    justify-content: space-between;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_place_footer {
    align-self: flex-start;
    height: 35px;
}

.footer__author {
    margin: 0;
    margin: 18px 0 18px 0;
    color: white;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column_content_info {
    display: flex;
    flex-direction: column;
}

.footer__column-heading {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 16px;
    list-style-type: none;
    padding: 0;
}

.footer__column_content_social {
    display: flex;
    flex-direction: column;
}

.footer__social-icon {
    float: left;
    margin-right: 10px;
    object-fit: contain;
    align-self: space-between;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    color: white;
    text-decoration: none;
}





/* div {
    border: 1px solid red;
} */
