.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* Шапка */
/* Шапка */
/* Шапка */

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    display: flex;
    margin-bottom: 100px;
}

.header__logo {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 2;
}

.header__title {
    align-self: center;
    margin-left: 64px;
    width: 730px;
}

.header__title-h1 {
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.header__subtitle {
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    z-index: 2;
}

.header_subtitle-p {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.header__link {
    color: #2F80ED;
    text-decoration: none;
}

.header__main-illustration {
    background-image: url(../images/two_again.png);
    background-size: cover;
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.header__square-pic {
    background-color: #2F80ED;
    width: 568px;
    height: 568px;
    position: absolute;
    top: 64px;
    right: 0;
}

/* Секция 1 */
/* Секция 1 */
/* Секция 1 */

.two-columns {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.two-column__brief {
    display: block;
    width: 175px;
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
}

.two-column__paragraph {
    display: block;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-solumn__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.two-column__main-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two-column__margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

.description {
    margin-bottom: 100px;
}

/* Секция 2 */
/* Секция 2 */
/* Секция 2 */

.table {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.table__cell {
    width: 250px;
    margin-top: 60px; 
}

.table__text {
    margin-bottom: 0px;
    margin-top: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table__heading {
    margin-top: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__title {
    width: 60%;
    align-self: center;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
}

.section__subtitle {
    width: 60%;
    align-self: center;
    text-align: center;
    margin: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.digits {
    display: flex;
    flex-direction: column; 
}




div {
    /* border: 1px solid black; */
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}