.khan__buy-link {
    margin-left: 10px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
    align-self: flex-start;
}

.khan__buy-link:hover {
    opacity: 0.6;
    transition: 0.7s ease;
}